# The app itself

-e .

# Runtime dependencies

Django

# Install either python-openid or python3-openid depending on your version
# of Python.
# python-openid
# python3-openid

# Example app

South
django-debug-toolbar

# Testing

coverage
flake8
tox

# Documentation

Sphinx
sphinx_rtd_theme
